.recipeList {
  @apply grid gap-[1rem] m-[0_auto] grid-cols-[repeat(4,minmax(250px,1fr))];
}

@media (max-width: 1460px) {
  .recipeList {
    @apply grid-cols-[repeat(2,minmax(250px,1fr))];
  }
}

@media (max-width: 900px) {
  .recipeList {
    @apply grid-cols-[repeat(2,minmax(250px,1fr))];
  }
}

@media (max-width: 750px) {
  .recipeList {
    @apply grid-cols-[minmax(250px,1fr)];
  }
}