.recipeList {
  @apply grid m-[0_auto];
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 1400px) {
  .recipeList {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 900px) {
  .recipeList {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .recipeList {
    grid-template-columns: minmax(250px, 1fr);
  }
}