@import "tailwindcss";
@plugin '../../hero.ts';
@source '../**/*.{js,ts,jsx,tsx,mdx,css,scss}';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
	/* --color-background: var(--background);
	--color-foreground: var(--foreground); */
}

body {
	font-family: Roboto, Helvetica, sans-serif;
	overflow: hidden;
}

html {
	scrollbar-gutter: stable;
}

:where([role="button"], [data-slot="close-button"], [aria-label="Close"], [aria-label="Закрыть"]) {
	cursor: pointer;
}
