.scrollbar {
  overflow-y: auto;
  scrollbar-gutter: stable; /* резервирует место для scrollbar, предотвращая прыжки верстки */

  &::-webkit-scrollbar {
    width: 10px; /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: linear-gradient(
      to bottom,
      rgba(64, 64, 64, 0) 0%,
      rgba(64, 64, 64, 0.99) 20%,
      rgba(64, 64, 64, 1) 40%,
      rgba(64, 64, 64, 1) 60%,
      rgba(64, 64, 64, 0.99) 80%,
      rgba(64, 64, 64, 0) 100%
    );
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 111, 238, 0) 0%,
      rgba(0, 111, 238, 0.25) 20%,
      rgba(0, 111, 238, 1) 40%,
      rgba(0, 111, 238, 1) 60%,
      rgba(0, 111, 238, 0.25) 80%,
      rgba(0, 111, 238, 0) 100%
    );    /* цвет плашки */
  }
}